
.App
{

  max-width: 1440px;
  min-width:810px;
  margin: auto;

}
/*/////////////////////HEADER///////////////////////*/

.container
{
  display: flex;
  height: 10vh;
  min-height: 70px;
  border-bottom: 2px solid gray;
  align-items: stretch;

}

.obj
{
  align-items: center;
    display: flex;
    margin-right: 40px;
}
.lastobj
{
    align-items: center;
    display: flex;
}
.select:hover{
  border-bottom: 4px solid;
border-top: 4px solid;
}
.select:hover{
border-bottom: 4px solid Orange;
border-top: 4px solid transparent;
}
.push
{
  margin-left: auto;
}
.option
{
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:gray;

}

.option:hover
{
  color:black;
}
.photoAvatar
{

  border-radius: 100%;
}
.photoAvatar:hover
{
  outline: 2px solid Orange;
  border-radius: 100%;
}

/*/////////////////////PRODUCT///////////////////////*/

.container2
{
  max-width: 1050px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 480px auto;
}

.container3
{
  display: grid;
  grid-template-rows: 480px 100px;
  grid-row-gap: 27px;
}

.container4
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainproduct
{
  height: 480px;
  width: 480px;
  background-color: orange;
  border-radius: 10%;
}
.photoMain
{
  border-radius: 4%;
}
.product{
  height: 100px;
  width: 100px;

  border-radius: 10%;
}
.product:hover
{
  outline: 2px solid Orange;
}
.photoProduct
{
  border-radius: 10%;
}
.photoProduct:hover{
  filter: opacity(20%);
}
.textSpacing
{

  margin-top: 15%;
  margin-left: 15%;
  height: 85%;
}
.sneakerCompany
{
  color: orange;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}
.title
{
  font-size: 50px;
}
.paragraph
{
  font-size: 16px;
  color: gray;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}