
li {
   display: inline-block;
}
.App
{

  width: 80%;
  margin: auto;

}
.container
{
  display: grid;
  grid-template-columns: 200px 80px 80px 80px 80px 80px auto 3% 8%;
  gap: 10px;
  height: 15vh;
  border-bottom: 2px solid gray;
}
.container div
{
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
}
.obj
{
  float: center;
  padding-left: 5px;
  margin-right: auto;
}
.option
{
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color:gray;
}

.option:hover
{
  color:black;
  border-bottom: 4px solid Orange;
  padding: 63px 0;
  
}
.photo
{
  border: 2px solid Orange;
  border-radius: 100%;
}
.buycar:hover
{
  border-bottom: 4px solid Orange;
  padding: 60px 0;  
}
  


