
li {
   display: inline-block;
}

.smoothscroll
{

  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color:gray
}
.smoothscroll:hover
{
  color:black;
}
.sneakers
{
  margin-right: 20px;
}



.right
{
  float: right;
  padding-left: 10%;
}

.left
{
  float:left
}
.App
{

  width: 80%;
  margin: auto;

  height: 100px;
  border-bottom: 1px solid yellow;
  text-align: center;
  justify-content: center;
}
.avatar
{
  border: 1px solid yellow;
}
.nav
{
  letter-spacing: 2px;
}



